@import '../../assets/styles/mixins/_main-text-font.scss';

.root {
	@include main-text-font(24, 500, 1.45, #667085);
	text-align: center;
	letter-spacing: -0.48px;
	margin: 20px 0 0;
	padding: 0;
	min-height: 35px;

	@media screen and (max-width: 986px) {
		font-size: 18px;
		line-height: 1.44;
		letter-spacing: normal;
		min-height: 26px;
	}
}

.rootPlaceQuestions {
	color: #0c5b5d;
}

.rootPlacePracticeActivity {
	max-width: 872px;
	margin: 25px auto 40px;
	white-space: pre-wrap;
}

.rootTypeTextAlignLeft {
	text-align: left;
}

.rootPlaceAboutAuthor {
	font-size: 20px;
	line-height: 1.5;
	color: #2b3541;
}

.rootPlaceFeedback {
	margin-top: 10px;
}
