@import '../../assets/styles/mixins/_main-text-font.scss';

.root {
	@include main-text-font(24, 500, 1.45, #667085);
	text-align: center;
	letter-spacing: -0.24px;
	margin: 20px 0 0;
	padding: 0;
}

.rootPlaceQuestions {
	color: #0c5b5d;
}
