@import '../../assets/styles/mixins/_main-text-font.scss';

.root {
	width: 399px;
	height: 322px;
	background-color: rgba(128, 137, 158, 0.1);
	box-sizing: border-box;
	padding: 30px 19px 30px 30px;
	display: grid;
	grid-template-columns: 46px 1fr;
	column-gap: 29px;
}

.photo {
	width: 46px;
	height: 46px;
	grid-row: 1/3;
}

.name {
	@include main-text-font(18, 600, 1.27, #2b3541);

	margin: 0;
	padding: 0;
}

.title {
	@include main-text-font(18, 400, 1.27, #667085);

	margin: 0;
	padding: 0;
}

.about {
	margin: 0;
	padding: 0;
	grid-column: 1/3;
}
