@import '../../assets/styles/mixins/section-flex-container';

.root {
	background-color: #fff;
}

.container {
	@include section-flex-container(0, 0, 91);

	@media screen and (max-width: 1006px) {
		padding-bottom: 82px;
	}

	@media screen and (max-width: 560px) {
		padding-bottom: 70px;
	}
}

.photoList {
	list-style: none;
	display: flex;
	gap: 35px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	transition: transform 0.3s ease-in-out;

	@media screen and (max-width: 986px) {
		gap: 30px;
	}

	@media screen and (max-width: 531px) {
		gap: 15px;
	}
}

.photo {
	width: 672px;
	height: 401px;
	object-fit: cover;
	border-radius: 15px;

	@media screen and (max-width: 986px) {
		width: 477px;
		height: 284px;
	}

	@media screen and (max-width: 531px) {
		width: 270px;
		height: 295px;
	}
}
