@import '../../assets/styles/mixins/section-flex-container';

.root {
	background-color: #fff;
}

.container {
	@include section-flex-container(96, 120, 96);
}

.list {
	list-style: none;
	display: flex;
	gap: 30px;
	margin: 39px 0 0;
	padding: 0;
}
