@import '../../assets/styles/mixins/_main-text-font.scss';

.form {
	display: flex;
	flex-direction: column;
	width: 505px;
	margin: 40px 0 32px;
	padding: 0;
}

.label {
	@include main-text-font(20, 500, 1.25);

	&:not(:first-child) {
		margin-top: 30px;
	}
}

.input {
	padding-top: 10.5px;
	padding-bottom: 10px;
	outline: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #667085;
	border-left: none;
}

.checkboxLabel {
	@include main-text-font(16, 400, 1.56, #667085);
	display: flex;
	gap: 11px;
	margin-top: 20.5px;
}
