@import '../../assets/styles/mixins/section-flex-container';
@import '../../assets/styles/mixins/_main-text-font.scss';

.root {
	width: 100%;
	background-color: #ffffff;
}

.container {
	@include section-flex-container(0, 120, 0);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mainMenuContainer {
	display: flex;
	align-items: center;
	height: 64px;
	background-color: #045c5e;
}

.phone {
	@include main-text-font(16, 600, 1.7, #005958);
	text-decoration: none;
}
