@import '../../assets/styles/mixins/section-flex-container';

.root {
	background-color: #fff;
}

.container {
	@include section-flex-container(0, 120, 96);
	display: grid;
	grid-template-columns: 1fr 315px;
	grid-template-rows: auto auto 375px 56px;
	gap: 10px 15px;
	overflow: hidden;
}
