@import '../../assets/styles/mixins/_main-text-font.scss';

.root {
}

.image {
	width: 56px;
	height: 56px;
	background-color: #0c999c;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto;
}

.title {
	@include main-text-font(20, 500, 1.5, #2b3541);
	margin: 13px 0 0;
	padding: 0;
	text-align: center;
}
