@import '../../assets/styles/mixins/_main-text-font.scss';

.root {
	margin-top: 40px;
	width: 100%;
}

.list {
	@include main-text-font(14, 400, 1.71, #0c999c);

	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.crumb {
	color: #6b7280;
}

.crumbSpan {
	@include main-text-font(14, 500, 1.71, #d1d5db);
	display: inline-block;
	width: 20px;
	text-align: center;
}
